Client/Connected Services/ServiceReference1/Service14.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57260/Service1.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/System.Windows.Media" />
  <xs:import schemaLocation="http://localhost:57260/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfFoodPoint">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FoodPoint" nillable="true" type="tns:FoodPoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFoodPoint" nillable="true" type="tns:ArrayOfFoodPoint" />
  <xs:complexType name="FoodPoint">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows.Media" minOccurs="0" name="Color" nillable="true" type="q1:Brush" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="_position" type="q2:Point" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FoodPoint" nillable="true" type="tns:FoodPoint" />
</xs:schema>